@import './reset';
@import './typography';
@import './variables';

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-content: $align;
    align-items: $align;
}

body {
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    position: relative;

}

nav {
    position: absolute;
    z-index: 2;
    @include flex(row, flex-start, center);
    gap: 6.4rem;
    width: 100%;


    header {
        @include flex(row, space-between, center);
        width: 19.5rem;
        padding: var(--spacing-mobile-vertical-nav) var(--spacing-mobile-horizontal-nav);
    }


    button img {
        width: 1.6rem;
        height: 1.6rem;
    }

    menu {
        @include flex(row, space-between, center);
        padding: var(--spacing-mobile-vertical-nav) var(--spacing-mobile-horizontal-nav);
        width: 100vw;
        color: var(--midnight);
        transition: all .5s ease-in-out;
    }

    ul {
        @include flex(row, space-evenly, center);
        gap: var(--spacing-mobile-horizontal);

        li {
            transition: all .2s ease-out;

            &:hover {
                letter-spacing: 2px;
                opacity: .9;
            }

            a {
                color: var(--midnight);
                font-size: var(--font-size-link);
                font-weight: 600;
                letter-spacing: -0.667px;
                transition: all .2s ease-out;

            }
        }
    }
}

.hero {
    position: relative;
    top: 0;
    width: 100vw;
    @include flex(column, space-evenly, center);

    &__carousel {
        position: relative;

        &--slide {
            @include flex(column, center, center);

            article div {
                height: 40rem;

                @include flex(column, space-between, flex-start);
            }


            picture,
            picture img {
                //   to-do => animation
                height: 36rem;
                width: 100vw;
            }
        }

        &--slider {
            position: absolute;
            height: 5.6rem;
            width: 11.2rem;
            display: inline-flex;

            .arr-left,
            .arr-right {
                height: 100%;
                width: 50%;
                background: var(--midnight);
                transition: all .25s ease;

                &:hover {
                    background: var(--haze);
                }
            }
        }
    }
}

.about {
    @include flex(column, center, center);

    img {
        height: 36rem;
        width: 100vw;
    }
}

[class*="__content"] {

    padding: var(--spacing-mobile-vertical) var(--spacing-mobile-horizontal);
}

h1,
h2 {
    color: var(--midnight);
    margin-bottom: var(--spacing-xs);
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-content);
    letter-spacing: var(--letter-spacing-h1);
}

h2 {
    text-align: justify;
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-display);
    line-height: var(--line-height-default);
    letter-spacing: var(--letter-spacing-h2);
    text-transform: var(--text-case-display);
}

p {
    color: var(--fog);
    font-size: var(--font-size-content);
    font-weight: var(--font-weight-content);
    line-height: var(--line-height-default);
    letter-spacing: var(--letter-spacing-default);
}

.btn-primary {
    @include flex(row, center, center);
    gap: var(--spacing-mobile-horizontal);
    margin-top: var(--spacing-l);
    color: var(--midnight);
    font-size: var(--font-size-btn);
    font-weight: var(--font-weight-content);
    line-height: var(--font-size-btn);
    letter-spacing: var(--letter-spacing-btn);
    text-transform: var(--text-case-display);
    transition: all .25s ease;
    position: relative;

    &::after {
        transition: all .25s ease;
        content: '';
        mask: url('/assets/icons/icon-arrow.svg');
        position: absolute;
        width: 4rem;
        height: 1.2rem;
        mask-size: cover;
        left: 19.2rem;
        background: var(--midnight);
    }

    &:hover {
        color: var(--fog);

        &::after {
            background: var(--fog);
        }

    }
}

footer {
    @include flex(row, center, center);
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    width: 100%;
    height: auto;

    &.attribution {
        font-size: var(--font-size-attribution);
        text-align: center;
    }

    &.attribution a {
        padding: 0 0 0 .25rem;
        color: var(--blue-berry);
    }
}


@media screen and (max-width: 48em) {

    /* mobile media query < 768px */
    .expand,
    .hidden {
        display: none;
    }

    nav {
        menu {
            background-color: var(--powder);
            position: fixed;
            z-index: 3;
            top: 0;

            &::after {
                transition: all .25s ease;
                content: '';
                position: absolute;
                top: 11.2rem;
                left: 0;
                z-index: 1;
                background-color: var(--midnight);
                opacity: .5;
                height: 100vh;
                width: 100%;
            }

            li {
                position: relative;
                transition: all .25s ease;

                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 2px;
                    bottom: -1rem;
                    left: 50%;
                    transform: translateX(-50%);
                    background: var(--midnight);
                }

                &:hover::after {
                    width: 2.5rem;
                }
            }
        }
    }

    .hero__carousel {
        &--slider {
            top: calc(36rem - 5.6rem);
            right: 0;


        }
    }
}

@media screen and (min-width: 48em) {

    /* tablet/desktop media query > 768px */
    .menu-toggle,
    .mobile {
        display: none;
    }

    nav {
        justify-content: space-between;
        width: 36.2rem;

        menu {
            width: fit-content;

            li {
                position: relative;

                &::after {
                    transition: all .25s ease;
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 2px;
                    bottom: -1rem;
                    left: 50%;
                    transform: translateX(-50%);
                    background: var(--powder);
                }

                &:hover::after {
                    width: 2.5rem;
                }

                a {
                    color: var(--powder);
                }
            }
        }
    }

    .hero__carousel {
        &--slide picture img {
            @include flex(column, space-evenly, center);
            height: 100%;
            width: 100vw;
        }

        article div {
            width: 40rem;
        }

        &--slider {
            bottom: calc(40rem);
            right: 0;

        }
    }
}

@media screen and (min-width: 75em) {

    /* desktop media query > 1200px */
    .hero {
        @include flex(row, space-between, center);
        width: 100vw;

        &__carousel {
            @include flex(row, space-between, center);
            height: 53.4rem;

            ul {
                @include flex(row, space-between, center);
                width: 100%;
            }

            &--slide {
                @include flex(row, space-between, center);
                width: 100vw;

                article {
                    @include flex(row, flex-start, flex-start);
                    height: 100%;
                    width: 100%;
                }

                picture,
                picture img {
                    max-width: 84rem;
                    height: 100%;
                }
            }

            &--slider {
                left: calc(84rem - 16rem);
                top: calc(53.4rem - 8rem);
                width: 16rem;
                height: 8rem;
            }
        }

        article div {
            width: 60rem;
            height: 53.4rem;
            @include flex(column, flex-start, flex-start);
            padding: var(--spacing-desktop-vertical) var(--spacing-desktop-horizontal);
        }
    }

    .about {
        @include flex(row, space-between, center);
        min-height: 26.6rem;

        img {
            max-width: 33vw;
            min-height: 26.6rem;
        }

        &__content {
            padding: 6.4rem 4.8rem;
            width: 58rem;
            height: 26.6rem;
        }
    }

    h1 {
        font-size: var(--font-size-h1-desktop);
        letter-spacing: var(--letter-spacing-h1-desktop);
        margin-bottom: 1.8rem;
    }

    .btn-primary {
        margin-top: var(--spacing-s);
        gap: 0;
    }
}